USE [WebDatVe]
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 6/14/2022 2:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[MaChuyenBay] [bigint] IDENTITY(1,1) NOT NULL,
	[DiemDi] [bigint] NULL,
	[DiemDen] [bigint] NULL,
	[ThoiGianDi] [datetime] NULL,
	[ThoiGianDen] [datetime] NULL,
	[MaMayBay] [varchar](10) NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_CB] PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangBay]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangBay](
	[MaHangBay] [bigint] IDENTITY(1,1) NOT NULL,
	[TenHangBay] [nvarchar](50) NULL,
	[Logo] [text] NULL,
 CONSTRAINT [PK_HangBay] PRIMARY KEY CLUSTERED 
(
	[MaHangBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [bigint] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [varchar](50) NULL,
	[QuocTich] [nvarchar](50) NULL,
	[MaVe] [varchar](50) NULL,
	[LoaiKhachHang] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayBay]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayBay](
	[MaMayBay] [varchar](10) NOT NULL,
	[SoGhePhoThong] [int] NULL,
	[SoGheThuongGia] [int] NULL,
	[SoGhePhoThongDacBiet] [int] NULL,
	[SoGheHangNhat] [int] NULL,
	[MahangBay] [bigint] NULL,
	[HanhLiXachTay] [int] NULL,
	[HanhLiKiGui] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaMayBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDatVe]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDatVe](
	[MaNguoiDat] [bigint] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[Email] [nvarchar](50) NULL,
	[MaVe] [varchar](50) NULL,
 CONSTRAINT [PK_NguoiDatVe] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBay]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBay](
	[MaSanBay] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSanBay] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanBay] PRIMARY KEY CLUSTERED 
(
	[MaSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](200) NULL,
	[MatKhau] [varchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[Quyen] [nchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [varchar](50) NOT NULL,
	[MaChuyenBay] [bigint] NULL,
	[HangVe] [nvarchar](50) NULL,
	[SoLuongGhe] [int] NULL,
	[MaTaiKhoan] [bigint] NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [float] NULL,
	[NgayHuyVe] [datetime] NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeDaLuu]    Script Date: 6/14/2022 2:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeDaLuu](
	[MaVeDaLuu] [bigint] IDENTITY(1,1) NOT NULL,
	[MaChuyenBay] [bigint] NULL,
	[MaTaiKhoan] [bigint] NULL,
 CONSTRAINT [PK_VeDaLuu] PRIMARY KEY CLUSTERED 
(
	[MaVeDaLuu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuyenBay] ON 

INSERT [dbo].[ChuyenBay] ([MaChuyenBay], [DiemDi], [DiemDen], [ThoiGianDi], [ThoiGianDen], [MaMayBay], [Gia]) VALUES (1, 1, 2, CAST(N'2021-12-18T07:30:00.000' AS DateTime), CAST(N'2021-12-18T09:30:00.000' AS DateTime), N'VJ-521', 420000)
INSERT [dbo].[ChuyenBay] ([MaChuyenBay], [DiemDi], [DiemDen], [ThoiGianDi], [ThoiGianDen], [MaMayBay], [Gia]) VALUES (2, 1, 2, CAST(N'2021-12-18T10:00:00.000' AS DateTime), CAST(N'2021-12-18T13:00:00.000' AS DateTime), N'BB-123', 430000)
INSERT [dbo].[ChuyenBay] ([MaChuyenBay], [DiemDi], [DiemDen], [ThoiGianDi], [ThoiGianDen], [MaMayBay], [Gia]) VALUES (3, 1, 2, CAST(N'2022-05-05T00:00:00.000' AS DateTime), CAST(N'2022-05-30T00:00:00.000' AS DateTime), N'BB-123', 430000)
SET IDENTITY_INSERT [dbo].[ChuyenBay] OFF
GO
SET IDENTITY_INSERT [dbo].[HangBay] ON 

INSERT [dbo].[HangBay] ([MaHangBay], [TenHangBay], [Logo]) VALUES (1, N'VietJet Air', N'Images/Logo-Vietjet.png')
INSERT [dbo].[HangBay] ([MaHangBay], [TenHangBay], [Logo]) VALUES (2, N'Bamboo', N'Images/Logo-Bamboo.png')
SET IDENTITY_INSERT [dbo].[HangBay] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [Ho], [Ten], [SDT], [NgaySinh], [CMND], [QuocTich], [MaVe], [LoaiKhachHang]) VALUES (73, N'', N'', N'', NULL, N'', N'', N'506/13/2022 11:08:21', N'Người lớn')
INSERT [dbo].[KhachHang] ([MaKhachHang], [Ho], [Ten], [SDT], [NgaySinh], [CMND], [QuocTich], [MaVe], [LoaiKhachHang]) VALUES (74, N'', N'', N'', NULL, N'', N'', N'506/13/2022 11:12:35', N'Người lớn')
INSERT [dbo].[KhachHang] ([MaKhachHang], [Ho], [Ten], [SDT], [NgaySinh], [CMND], [QuocTich], [MaVe], [LoaiKhachHang]) VALUES (75, N'', N'', N'', NULL, N'', N'', N'506/13/2022 14:11:27', N'Người lớn')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[MayBay] ([MaMayBay], [SoGhePhoThong], [SoGheThuongGia], [SoGhePhoThongDacBiet], [SoGheHangNhat], [MahangBay], [HanhLiXachTay], [HanhLiKiGui]) VALUES (N'aaaaaa', 1, 1, 1, 1, 1, 100, 100)
INSERT [dbo].[MayBay] ([MaMayBay], [SoGhePhoThong], [SoGheThuongGia], [SoGhePhoThongDacBiet], [SoGheHangNhat], [MahangBay], [HanhLiXachTay], [HanhLiKiGui]) VALUES (N'as', 12, 12, 12, 12, 2, 240, 864)
INSERT [dbo].[MayBay] ([MaMayBay], [SoGhePhoThong], [SoGheThuongGia], [SoGhePhoThongDacBiet], [SoGheHangNhat], [MahangBay], [HanhLiXachTay], [HanhLiKiGui]) VALUES (N'BB-123', 60, 40, 20, 10, 2, 100, 1000)
GO
SET IDENTITY_INSERT [dbo].[NguoiDatVe] ON 

INSERT [dbo].[NguoiDatVe] ([MaNguoiDat], [Ho], [Ten], [SDT], [Email], [MaVe]) VALUES (72, N'', N'', N'          ', N'levi20001226@gmail.com', N'506/13/2022 11:08:21')
INSERT [dbo].[NguoiDatVe] ([MaNguoiDat], [Ho], [Ten], [SDT], [Email], [MaVe]) VALUES (73, N'', N'', N'          ', N'', N'506/13/2022 11:12:35')
INSERT [dbo].[NguoiDatVe] ([MaNguoiDat], [Ho], [Ten], [SDT], [Email], [MaVe]) VALUES (74, N'', N'', N'          ', N'5951071119@st.utc2.edu.vn', N'506/13/2022 14:11:27')
SET IDENTITY_INSERT [dbo].[NguoiDatVe] OFF
GO
SET IDENTITY_INSERT [dbo].[SanBay] ON 

INSERT [dbo].[SanBay] ([MaSanBay], [TenSanBay], [DiaChi]) VALUES (1, N'Nội Bài', N'Hà Nội')
INSERT [dbo].[SanBay] ([MaSanBay], [TenSanBay], [DiaChi]) VALUES (2, N'Tân Sơn Nhất', N'TP HCM')
INSERT [dbo].[SanBay] ([MaSanBay], [TenSanBay], [DiaChi]) VALUES (3, N'Cát Bi', N'Hải Phòng')
SET IDENTITY_INSERT [dbo].[SanBay] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [SDT], [Quyen]) VALUES (1, N'phamhuynhhaiyen1107@gmail.com', N'123', N'Phạm Huỳnh Hải Yến', N'0123456789', N'0         ')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [SDT], [Quyen]) VALUES (3, N'5951071119@st.utc2.edu.vn', N'123', N'Le Thi Tuong Vi', NULL, N'0         ')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [Email], [MatKhau], [HoTen], [SDT], [Quyen]) VALUES (5, N'levi20001226@gmail.com', N'3223047867982892', N'Lê Thị Tường Vi', NULL, N'0         ')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[Ve] ([MaVe], [MaChuyenBay], [HangVe], [SoLuongGhe], [MaTaiKhoan], [TinhTrang], [NgayDat], [TongTien], [NgayHuyVe]) VALUES (N'306/13/2022 14:48:16', 5, N'Phổ thông', 1, 3, N'Canceled', CAST(N'2022-06-13T14:48:16.887' AS DateTime), 69300, CAST(N'2022-06-13T15:05:15.820' AS DateTime))
INSERT [dbo].[Ve] ([MaVe], [MaChuyenBay], [HangVe], [SoLuongGhe], [MaTaiKhoan], [TinhTrang], [NgayDat], [TongTien], [NgayHuyVe]) VALUES (N'306/13/2022 14:52:13', 5, N'Phổ thông', 1, 3, N'Canceled', CAST(N'2022-06-13T14:52:13.440' AS DateTime), 69300, CAST(N'2022-06-13T15:05:22.677' AS DateTime))
INSERT [dbo].[Ve] ([MaVe], [MaChuyenBay], [HangVe], [SoLuongGhe], [MaTaiKhoan], [TinhTrang], [NgayDat], [TongTien], [NgayHuyVe]) VALUES (N'306/13/2022 14:56:17', 5, N'Phổ thông', 1, 3, N'Paid', CAST(N'2022-06-13T14:56:17.733' AS DateTime), 69300, NULL)
GO
SET IDENTITY_INSERT [dbo].[VeDaLuu] ON 

INSERT [dbo].[VeDaLuu] ([MaVeDaLuu], [MaChuyenBay], [MaTaiKhoan]) VALUES (1, 7, 2)
SET IDENTITY_INSERT [dbo].[VeDaLuu] OFF
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenBay_MayBay] FOREIGN KEY([MaMayBay])
REFERENCES [dbo].[MayBay] ([MaMayBay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChuyenBay] CHECK CONSTRAINT [FK_ChuyenBay_MayBay]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Ve] FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_Ve]
GO
ALTER TABLE [dbo].[MayBay]  WITH CHECK ADD  CONSTRAINT [FK_MayBay_HangBay] FOREIGN KEY([MahangBay])
REFERENCES [dbo].[HangBay] ([MaHangBay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MayBay] CHECK CONSTRAINT [FK_MayBay_HangBay]
GO
ALTER TABLE [dbo].[NguoiDatVe]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDatVe_Ve] FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDatVe] CHECK CONSTRAINT [FK_NguoiDatVe_Ve]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChuyenBay1] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[ChuyenBay] ([MaChuyenBay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChuyenBay1]
GO
ALTER TABLE [dbo].[VeDaLuu]  WITH CHECK ADD  CONSTRAINT [FK_VeDaLuu_ChuyenBay] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[ChuyenBay] ([MaChuyenBay])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VeDaLuu] CHECK CONSTRAINT [FK_VeDaLuu_ChuyenBay]
GO
