<div id="frmSignIn" class="forget-pass">
    <div class="container">
        <div id="btnclose"><i class="fa fa-times"></i></div>
        <h3>ĐĂNG NHẬP</h3>
        <input type="email" placeholder="Email" value="" id="txtEmail" />
        <input type="password" placeholder="Mật khẩu" value="" id="txtPwd" />
        <p id="txtMsg"></p>
        <button class="btn-signin" id="btnSignin">ĐĂNG NHẬP</button> 
        <p>Bạn chưa có tài khoản? <a href="#">Tạo tài khoản</a></p>
    </div>
</div>

